#  EVALUACIÓN

- Crear git.
- Crear readme.
- Fase 1. 
- Fase 2. 
- Fase 3.

### Fase 0: Importación de librerías y configuraciones

In [1]:
# Importamos las librerías que necesitamos
# 
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Evaluar linealidad de las relaciones entre las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest


# Configuraciones
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

### Fase 1: Exploración y Limpieza

1. Exploración Inicial: 
• Realiza una exploración inicial de los datos para iden ficar posibles 
problemas, como valores nulos, a picos o datos faltantes en las columnas 
relevantes. 
• Utliza funciones de Pandas para obtener información sobre la estructura 
de los datos, la presencia de valores nulos y estadís cas básicas de las 
columnas involucradas. 
• Une los dos conjuntos de datos de la forma más eficiente.

In [2]:
df_CFA = pd.read_csv('Customer Flight Activity.csv')

In [3]:
df_CFA.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [4]:
df_CFA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [5]:
df_CFA.duplicated().sum()

1864

In [6]:
df_duplicados = df_CFA[df_CFA.duplicated()==True]
df_duplicados

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
42,101902,2017,1,0,0,0,0,0.0,0,0
227,112142,2017,1,0,0,0,0,0.0,0,0
478,126100,2017,1,0,0,0,0,0.0,0,0
567,130331,2017,1,0,0,0,0,0.0,0,0
660,135421,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
404668,949628,2018,12,0,0,0,0,0.0,0,0
404884,960050,2018,12,0,0,0,0,0.0,0,0
405111,971370,2018,12,0,0,0,0,0.0,0,0
405410,988392,2018,12,0,0,0,0,0.0,0,0
405437,989528,2018,12,0,0,0,0,0.0,0,0

Explorando los duplicados vemos que solo tienen valores en Loyalty Number, Year y Month. 
El resto de columnas es cero. No nos aportan información.
Decido eliminar estos registros.

In [7]:
# Elimino registros duplicados

registros_duplicados = df_CFA.duplicated()[df_CFA.duplicated()==True]
filas_a_eliminar = registros_duplicados.index.to_list() # Pasamos a lista los índices de los registros duplicados sin información útil
df_CFA_sin_duplicados = df_CFA.drop(filas_a_eliminar, axis=0)
a = df_CFA.shape
b = df_CFA_sin_duplicados.shape

print(f"Hay {df_CFA_sin_duplicados.duplicated().sum()} registros duplicados")

Hay 0 registros duplicados

In [8]:
df_CFA_sin_duplicados.describe()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
count,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000,403760.000000
mean,549875.383713,2017.500352,6.501335,4.134050,1.036569,5.170619,1214.460979,124.263761,30.838587,2.495973
std,258961.514684,0.500000,3.451982,5.230064,2.080472,6.526858,1434.098521,146.696179,125.758002,10.172033
min,100018.000000,2017.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,326699.000000,2017.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,550598.000000,2018.000000,7.000000,1.000000,0.000000,1.000000,525.000000,53.000000,0.000000,0.000000
75%,772152.000000,2018.000000,10.000000,8.000000,1.000000,10.000000,2342.000000,240.000000,0.000000,0.000000
max,999986.000000,2018.000000,12.000000,21.000000,11.000000,32.000000,6293.000000,676.500000,876.000000,71.000000

Interpretación

In [9]:
# OBSERVACIONES: 

# Filas duplicadas. Eliminar ✔
# No hay valores nulos. ✔ 
# Points Accumulated estaría mejor en tipo int ✔
# Loyalty Number, Year y Year estarían mejor como object (categóricas) y no como número ✔

In [10]:
# Cambio tipos de columnas.

df_CFA_sin_duplicados['Loyalty Number'] = df_CFA_sin_duplicados['Loyalty Number'].astype('object')
df_CFA_sin_duplicados['Year'] = df_CFA_sin_duplicados['Year'].astype('object')
df_CFA_sin_duplicados['Month'] = df_CFA_sin_duplicados['Month'].astype('object')
df_CFA_sin_duplicados['Points Accumulate'] = df_CFA_sin_duplicados['Points Accumulated'].astype('int')

In [11]:
df_CFA_sin_duplicados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403760 entries, 0 to 405623
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  object
 1   Year                         403760 non-null  object
 2   Month                        403760 non-null  object
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
 10  Points Accumulate            403760 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 37.0+ MB

In [13]:
# Ahora vamos a crear una nueva columna con un identificador único para los datos por cliente y fecha
# porque la actividad se mide por identificador, mes y año.

def crear_identificador_unico (id_cliente, mes, año):
    id = ""
    id = str(id_cliente) + '_' + str(mes) + '_'  + str(año)
    return id


# aplicamos la función al DataFrame usando un apply y un lambda

df_CFA_sin_duplicados['id_year_month'] = df_CFA_sin_duplicados.apply(lambda x: crear_identificador_unico(x['Loyalty Number'], x['Month'], x['Year']), axis=1)

df_CFA_sin_duplicados['id_year_month'].head()

0    100018_1_2017
1    100102_1_2017
2    100140_1_2017
3    100214_1_2017
4    100272_1_2017
Name: id_year_month, dtype: object

Tras eliminar los registros duplicados, veo que sigue habiendo registros para los que se repite información y no debería. Es decir, aunque ya no haya duplicados, identifico que hay más de una anotación para para un mismo cliente, un mismo año y un mismo mes. Esto no debería ser así.

In [49]:
identificadores_unicos = list(df_CFA_sin_duplicados['id_year_month'].values)
print(f"En total debería haber {len(identificadores_unicos)} identificadores_unicos...")
set_identificadores_unicos = set(identificadores_unicos)
print(f"Pero que no se repitan solo hay {len(set_identificadores_unicos)}.")
print(f"Hay {len(identificadores_unicos) - len(set_identificadores_unicos)} registros para los que se ha recopilado información en más de un sitio")

En total debería haber 403760 identificadores_unicos...
Pero que no se repitan solo hay 401688.
Hay 2072 registros para los que se ha recopilado información en más de un sitio

In [50]:
identificadores_unicos # Lista de identificadores 

# Conjunto para almacenar valores únicos
vistos = set()
# Lista para almacenar valores repetidos
repetidos = set()

for identificador in identificadores_unicos:
    if identificador in vistos:
        repetidos.add(identificador)
    else:
        vistos.add(identificador)

print(repetidos)

{'593252_7_2018', '979115_11_2018', '902608_12_2018', '336882_7_2017', '336882_10_2017', '351615_12_2018', '255475_6_2018', '615439_6_2018', '825593_11_2017', '992168_11_2017', '700650_7_2017', '336882_3_2017', '874780_2_2018', '328623_6_2018', '617489_6_2018', '470998_10_2018', '988392_1_2017', '200519_10_2018', '112142_10_2017', '323821_3_2017', '615561_3_2017', '927026_11_2018', '112142_4_2018', '890702_7_2017', '547522_7_2018', '876062_1_2017', '402697_8_2018', '682979_8_2018', '965605_4_2017', '876062_5_2017', '181082_1_2017', '890702_1_2017', '200519_3_2017', '650466_12_2017', '833793_2_2018', '890361_11_2018', '969318_5_2017', '200519_10_2017', '650466_3_2017', '322169_11_2017', '193662_2_2018', '903359_1_2018', '958491_11_2017', '682979_7_2017', '255836_5_2018', '992168_10_2017', '584833_11_2018', '135421_6_2017', '114414_1_2018', '927026_7_2018', '198499_6_2017', '411523_2_2017', '278854_3_2017', '547522_2_2018', '899760_11_2018', '678205_8_2018', '684881_1_2017', '981508_4_2018', '255475_5_2018', '101902_5_2017', '464187_8_2018', '208485_2_2018', '989528_7_2018', '992168_12_2017', '825517_7_2018', '920175_7_2018', '193662_6_2018', '896861_3_2018', '295906_2_2018', '899760_8_2018', '601131_8_2017', '465260_4_2017', '992168_1_2018', '465260_4_2018', '130331_4_2018', '642020_10_2018', '328623_7_2017', '255836_2_2018', '833793_7_2018', '444092_1_2017', '604274_6_2018', '684881_6_2018', '573446_9_2018', '208485_7_2017', '434807_11_2017', '653081_9_2018', '601131_6_2017', '361237_5_2018', '653081_5_2018', '181082_3_2017', '653081_8_2017', '351615_8_2018', '604870_8_2018', '106001_11_2018', '279419_12_2018', '322169_6_2018', '434807_7_2018', '965605_12_2018', '511862_12_2017', '750665_12_2017', '869276_2_2018', '336882_5_2017', '738567_1_2017', '601131_3_2017', '243741_10_2018', '584833_3_2018', '582493_8_2017', '713132_6_2018', '351937_8_2018', '411523_12_2018', '342945_6_2017', '897772_12_2017', '237094_1_2018', '255475_2_2017', '464187_12_2017', '208485_12_2018', '255836_6_2018', '499874_7_2017', '112142_6_2017', '582493_6_2017', '992168_4_2018', '869265_11_2018', '642020_8_2017', '738567_3_2017', '444092_11_2017', '255475_10_2017', '135421_12_2017', '732304_6_2018', '687951_11_2018', '278854_3_2018', '200519_6_2017', '460272_9_2018', '869276_9_2017', '965605_11_2017', '684881_11_2018', '988392_10_2017', '295906_6_2018', '604870_2_2017', '511862_7_2018', '593252_10_2018', '969318_4_2017', '968034_8_2018', '208241_12_2018', '874780_9_2018', '869265_10_2017', '114414_7_2017', '126490_11_2017', '775768_8_2018', '490439_8_2017', '434807_10_2018', '653081_2_2018', '499874_7_2018', '653081_8_2018', '368073_9_2018', '622975_3_2018', '499874_2_2017', '920175_12_2017', '899760_5_2018', '465260_10_2017', '322169_8_2018', '972686_3_2017', '989528_10_2018', '617489_11_2017', '512296_10_2018', '750665_12_2018', '411523_4_2017', '713132_1_2018', '200519_8_2017', '361237_9_2018', '465260_11_2017', '243741_12_2018', '896861_8_2018', '106001_7_2017', '255475_4_2017', '208485_6_2017', '243741_10_2017', '684123_5_2017', '255475_7_2018', '736504_1_2018', '336882_2_2017', '444092_5_2017', '464256_7_2018', '582493_9_2018', '713132_11_2018', '309230_4_2017', '511862_8_2018', '328623_2_2017', '336882_12_2017', '727507_11_2018', '831341_12_2018', '971370_12_2017', '968034_9_2018', '920175_9_2018', '902608_12_2017', '750665_2_2017', '351615_8_2017', '460272_10_2018', '106001_3_2017', '678205_11_2018', '974875_3_2017', '444092_9_2017', '512296_3_2018', '402697_6_2018', '368073_3_2018', '750665_8_2018', '351615_5_2018', '464187_9_2018', '617489_7_2017', '357901_7_2018', '903359_2_2018', '950980_5_2018', '417240_6_2018', '510182_8_2017', '114414_9_2017', '295906_4_2018', '351615_6_2018', '243741_11_2017', '615561_1_2017', '181082_12_2017', '499874_6_2017', '899760_9_2017', '411523_2_2018', '951353_7_2018', '899760_10_2018', '615439_7_2017', '950980_4_2018', '304600_10_2018', '736504_12_2018', '368073_6_2018', '774168_10_2018', '361237_8_2017', '825517_7_2017', '585756_12_2017', '114414_5_2018', '601131_9_2017', '974875_8_2018', '615439_9_2018', '286636_7_2017', '465260_5_2018', '402697_3_2018', '309230_4_2018', '896861_10_2018', '464256_8_2018', '825517_12_2018', '114414_10_2018', '950980_3_2018', '992168_7_2017', '642020_2_2018', '573446_10_2018', '114414_8_2017', '896861_3_2017', '896861_6_2018', '684123_6_2018', '511862_3_2017', '486860_10_2018', '512296_12_2018', '642020_4_2018', '582493_7_2017', '642020_9_2017', '989528_6_2018', '684889_1_2017', '373638_11_2018', '582493_12_2018', '604870_4_2018', '322169_8_2017', '198499_1_2017', '112142_7_2017', '988392_10_2018', '237094_12_2018', '774168_11_2018', '601131_11_2017', '869276_5_2018', '208485_12_2017', '411523_8_2018', '135421_3_2018', '512296_7_2017', '286636_5_2018', '511862_10_2018', '255475_2_2018', '255475_11_2017', '465260_10_2018', '417240_12_2018', '135421_10_2018', '958491_4_2018', '528447_5_2018', '368073_7_2018', '902608_3_2017', '969318_3_2018', '775768_8_2017', '684123_12_2018', '573446_4_2017', '328623_4_2017', '903359_11_2018', '684123_5_2018', '615439_5_2017', '135421_9_2018', '243741_2_2018', '897772_5_2018', '617489_9_2018', '351937_9_2018', '736504_1_2017', '971370_8_2018', '684889_7_2018', '464187_12_2018', '126490_6_2017', '869265_9_2018', '604870_12_2018', '322169_10_2018', '126490_4_2017', '682979_12_2018', '114414_6_2018', '464256_6_2018', '279419_9_2018', '653081_10_2018', '617489_10_2018', '819842_3_2018', '286636_2_2018', '988392_7_2018', '903359_11_2017', '601131_3_2018', '684889_8_2017', '278854_4_2017', '974875_2_2018', '642020_12_2017', '890702_6_2018', '200519_3_2018', '902608_11_2018', '351615_10_2018', '902608_7_2017', '361237_9_2017', '819842_11_2018', '750665_7_2018', '279419_10_2018', '833793_1_2018', '237094_7_2017', '474305_11_2017', '971370_5_2018', '896861_7_2018', '682979_7_2018', '969318_11_2018', '684881_1_2018', '328623_9_2018', '512296_6_2018', '702482_7_2018', '971370_1_2017', '700650_10_2017', '920175_6_2017', '286636_6_2017', '243741_8_2018', '465260_9_2018', '951353_8_2018', '988392_6_2018', '593252_4_2018', '460272_6_2018', '969318_5_2018', '585756_5_2017', '775768_7_2017', '825517_2_2018', '304600_11_2018', '750665_9_2017', '584782_11_2018', '899760_5_2017', '460272_11_2017', '464187_5_2018', '474305_12_2018', '255836_11_2017', '819842_1_2018', '101902_11_2017', '968034_11_2018', '193662_8_2017', '902608_10_2017', '968034_1_2017', '899760_1_2018', '876062_11_2017', '465260_6_2018', '322169_9_2017', '615561_4_2018', '573446_6_2017', '243741_3_2018', '920175_11_2017', '411734_6_2017', '869265_12_2018', '750665_6_2017', '470998_9_2018', '215508_7_2017', '411734_5_2017', '336882_1_2017', '617489_5_2018', '101902_5_2018', '411734_3_2017', '255475_8_2017', '286636_12_2017', '750665_5_2018', '336882_8_2018', '255475_9_2017', '295906_7_2018', '713132_10_2018', '727091_8_2018', '351615_6_2017', '604870_10_2017', '890702_3_2018', '981508_12_2018', '585756_8_2018', '354438_10_2018', '774168_9_2018', '464256_5_2018', '528447_3_2017', '604870_10_2018', '279419_7_2017', '682979_11_2017', '950980_11_2018', '106001_7_2018', '351937_6_2018', '897772_9_2017', '615561_8_2017', '727507_8_2018', '255836_8_2017', '373638_9_2018', '682979_1_2017', '470998_12_2018', '486860_6_2018', '351937_3_2018', '886803_11_2018', '897772_11_2018', '582493_4_2018', '215508_12_2018', '181082_9_2017', '237094_2_2018', '615439_1_2017', '869265_2_2017', '615439_9_2017', '215508_5_2018', '417240_1_2018', '601131_10_2018', '890702_5_2017', '825593_2_2018', '286636_2_2017', '890702_4_2017', '279419_8_2018', '135421_8_2017', '584833_1_2018', '464187_2_2018', '237094_7_2018', '286636_8_2018', '974875_10_2018', '819842_11_2017', '255475_8_2018', '357901_9_2018', '582493_10_2017', '308480_12_2018', '193662_3_2018', '323821_5_2018', '486860_11_2018', '601131_12_2018', '642020_12_2018', '615561_2_2018', '323821_4_2018', '322169_5_2018', '417240_3_2018', '738567_9_2017', '295906_11_2017', '654433_2_2018', '869276_6_2018', '775768_12_2017', '617489_2_2018', '642020_5_2017', '776466_8_2018', '899760_4_2018', '775768_4_2018', '684123_1_2017', '510182_6_2017', '896861_8_2017', '198499_9_2017', '896861_12_2017', '874780_7_2018', '968034_8_2017', '988392_1_2018', '490439_11_2017', '969318_2_2018', '869276_6_2017', '972686_3_2018', '101902_4_2018', '573446_7_2017', '682979_8_2017', '604870_9_2017', '968034_5_2017', '464187_4_2018', '200519_4_2017', '890702_6_2017', '198499_11_2018', '512296_2_2017', '750578_11_2018', '650466_7_2018', '958491_11_2018', '208485_8_2017', '255836_3_2018', '126490_3_2017', '825593_1_2018', '971370_3_2017', '604274_4_2017', '876062_1_2018', '512296_12_2017', '357901_10_2018', '988392_5_2018', '198499_12_2017', '876062_10_2017', '869276_9_2018', '511862_3_2018', '368073_4_2017', '774168_12_2018', '890702_12_2017', '208485_7_2018', '958491_5_2018', '927026_1_2018', '295906_12_2018', '684123_11_2017', '617489_1_2018', '200519_1_2017', '322169_11_2018', '738567_4_2017', '255475_7_2017', '869265_5_2017', '181082_6_2017', '700650_6_2017', '237094_6_2018', '775768_3_2018', '604274_8_2017', '434807_12_2017', '727091_7_2018', '738567_2_2018', '902608_1_2017', '617489_6_2017', '323821_10_2017', '304600_1_2018', '528447_2_2017', '465260_3_2018', '417240_2_2018', '286636_9_2017', '464187_8_2017', '684881_9_2018', '736504_3_2018', '181082_2_2017', '126490_1_2017', '114414_3_2018', '653081_12_2017', '486860_7_2018', '604870_1_2017', '402697_1_2018', '200519_2_2018', '979115_9_2018', '738567_6_2017', '684123_1_2018', '775768_9_2017', '650466_8_2018', '279419_11_2018', '536021_12_2018', '775768_3_2017', '336882_6_2017', '601131_2_2018', '615561_9_2017', '511862_5_2018', '309230_10_2018', '309230_9_2018', '682979_10_2018', '336882_6_2018', '336882_11_2017', '130331_10_2018', '684889_9_2017', '869276_1_2018', '604274_9_2017', '309230_9_2017', '460272_11_2018', '650466_12_2018', '903359_8_2017', '322169_7_2017', '215508_1_2018', '972686_5_2018', '684123_11_2018', '106509_10_2018', '927026_4_2018', '198499_8_2017', '411523_5_2018', '989528_9_2018', '402697_4_2018', '585756_1_2017', '243741_9_2017', '455758_4_2018', '255836_12_2018', '444092_6_2017', '601131_4_2018', '351937_5_2018', '198499_2_2018', '965605_3_2017', '243741_1_2018', '304600_10_2017', '444092_4_2018', '208485_3_2018', '684123_9_2018', '969318_9_2017', '615561_10_2017', '969318_12_2018', '585756_5_2018', '295906_9_2018', '890702_11_2018', '200519_5_2017', '582493_9_2017', '992168_3_2018', '528447_6_2018', '304600_7_2017', '965605_7_2017', '278854_5_2018', '200519_1_2018', '890361_9_2018', '528447_12_2018', '112142_1_2018', '615561_7_2018', '736504_7_2018', '775768_11_2018', '573446_5_2017', '286636_8_2017', '135421_1_2018', '528447_8_2018', '328623_5_2017', '903359_12_2018', '972686_7_2018', '833793_5_2018', '336882_11_2018', '411734_2_2017', '101902_8_2017', '950980_8_2018', '958491_12_2018', '361237_4_2017', '130331_3_2018', '869265_3_2018', '322169_6_2017', '736504_4_2018', '193662_3_2017', '869265_7_2017', '368073_8_2017', '584833_6_2018', '200519_9_2017', '255475_4_2018', '402697_10_2018', '474305_12_2017', '243741_4_2018', '106001_10_2017', '713132_6_2017', '682979_5_2017', '279419_7_2018', '617489_3_2017', '650466_3_2018', '684123_3_2018', '465260_8_2017', '547522_8_2018', '874780_11_2018', '988392_9_2018', '825517_8_2018', '684881_12_2018', '351615_4_2018', '642020_7_2018', '972686_9_2017', '615439_11_2017', '897772_7_2017', '528447_12_2017', '465260_8_2018', '351615_12_2017', '351615_2_2017', '323821_6_2017', '126490_2_2017', '732304_5_2018', '573446_6_2018', '642020_11_2018', '328623_6_2017', '193662_10_2018', '920175_10_2018', '243741_5_2018', '653081_10_2017', '328623_1_2018', '135421_6_2018', '464187_10_2018', '106001_1_2017', '584833_12_2018', '279419_2_2017', '444092_4_2017', '968034_1_2018', '464187_11_2018', '965605_1_2017', '617489_9_2017', '819842_12_2017', '106001_8_2018', '972686_5_2017', '279419_8_2017', '604274_8_2018', '736504_9_2018', '684881_10_2018', '278854_10_2017', '585756_8_2017', '499874_10_2017', '775768_5_2017', '896861_7_2017', '215508_10_2017', '927026_10_2017', '684123_2_2018', '897772_1_2018', '825517_9_2018', '738567_2_2017', '309230_1_2018', '279419_9_2017', '903359_8_2018', '736504_7_2017', '650466_8_2017', '106001_6_2017', '304600_8_2017', '890702_2_2017', '585756_6_2018', '682979_3_2017', '200519_12_2017', '106001_2_2017', '902608_1_2018', '684889_9_2018', '512296_11_2017', '604274_11_2018', '411523_9_2018', '775768_5_2018', '510182_4_2017', '411523_6_2018', '727507_9_2018', '474305_5_2018', '278854_9_2017', '200519_9_2018', '968034_12_2017', '965605_9_2017', '411523_1_2017', '322169_7_2018', '604274_10_2017', '304600_12_2018', '992168_4_2017', '684881_6_2017', '727091_9_2018', '972686_12_2017', '547522_10_2018', '114414_8_2018', '615439_8_2017', '528447_10_2018', '869265_4_2018', '642020_4_2017', '650466_1_2018', '474305_8_2018', '732304_12_2018', '208485_9_2017', '135421_9_2017', '474305_1_2018', '969318_6_2018', '979115_5_2018', '965605_3_2018', '903359_6_2018', '974875_11_2018', '490439_1_2018', '727507_4_2018', '876062_4_2017', '972686_4_2017', '920175_5_2018', '474305_6_2018', '738567_9_2018', '678205_9_2018', '511862_9_2017', '368073_11_2017', '684889_10_2017', '357901_8_2018', '464256_1_2018', '869276_12_2017', '198499_1_2018', '684889_7_2017', '200519_8_2018', '974875_5_2018', '361237_2_2018', '684889_6_2018', '411523_1_2018', '650466_5_2017', '825593_10_2017', '989528_11_2018', '974875_4_2017', '309230_8_2018', '135421_8_2018', '304600_9_2018', '903359_10_2018', '825517_10_2018', '255836_12_2017', '279419_4_2018', '130331_8_2018', '969318_1_2017', '411523_5_2017', '198499_12_2018', '615439_3_2018', '361237_4_2018', '972686_8_2018', '965605_1_2018', '368073_12_2017', '499874_11_2018', '974875_2_2017', '684123_6_2017', '965605_4_2018', '499874_4_2018', '968034_12_2018', '650466_4_2018', '323821_1_2018', '465260_12_2018', '286636_12_2018', '825593_12_2018', '902608_9_2017', '295906_5_2018', '585756_10_2017', '902608_4_2018', '411030_12_2018', '876062_6_2017', '642020_3_2018', '825593_8_2018', '727507_1_2018', '869265_6_2017', '323821_12_2017', '617489_7_2018', '890702_11_2017', '368073_10_2018', '682979_3_2018', '902608_7_2018', '584833_4_2018', '528447_4_2018', '208485_2_2017', '304600_6_2018', '286636_11_2018', '106001_12_2018', '682979_4_2017', '825517_5_2018', '584833_12_2017', '464187_5_2017', '279419_6_2018', '402697_5_2018', '833793_3_2018', '825517_9_2017', '968034_4_2017', '351937_12_2018', '738567_12_2017', '470998_8_2018', '208485_1_2018', '114414_12_2018', '713132_11_2017', '615439_2_2018', '243741_9_2018', '499874_8_2017', '876062_7_2017', '684123_10_2018', '584833_5_2018', '460272_3_2018', '897772_8_2018', '972686_11_2017', '713132_12_2018', '465260_5_2017', '323821_10_2018', '215508_9_2018', '322169_4_2018', '237094_12_2017', '819842_6_2018', '874780_6_2018', '890361_10_2018', '899760_12_2018', '255836_1_2017', '819842_10_2018', '713132_10_2017', '417240_9_2018', '402697_2_2018', '114414_1_2017', '417240_4_2018', '584782_10_2018', '573446_5_2018', '700650_1_2017', '198499_5_2018', '351615_11_2017', '972686_10_2018', '684881_4_2018', '114414_7_2018', '775768_7_2018', '368073_1_2018', '181082_2_2018', '727507_6_2018', '193662_11_2017', '650466_1_2017', '981508_7_2018', '193662_1_2018', '215508_3_2018', '979115_8_2018', '682979_6_2017', '460272_8_2017', '684889_2_2017', '402697_12_2018', '738567_1_2018', '750665_4_2017', '869276_4_2018', '328623_11_2018', '927026_5_2017', '323821_12_2018', '101902_2_2018', '684881_2_2017', '890702_9_2018', '971370_5_2017', '357901_5_2018', '825593_9_2017', '654433_1_2018', '902608_3_2018', '971370_3_2018', '295906_10_2018', '876062_12_2017', '899760_10_2017', '585756_3_2017', '490439_10_2017', '615561_11_2018', '601131_5_2017', '200519_12_2018', '585756_7_2018', '653081_4_2018', '965605_11_2018', '106001_5_2018', '615561_1_2018', '615561_6_2017', '114414_11_2017', '512296_10_2017', '920175_12_2018', '736504_3_2017', '654433_4_2018', '528447_5_2017', '974875_12_2017', '528447_7_2017', '200519_4_2018', '582493_4_2017', '411523_4_2018', '950304_12_2018', '511862_1_2018', '971370_2_2018', '988392_4_2018', '208485_11_2018', '965605_5_2017', '617489_8_2018', '198499_8_2018', '512296_4_2017', '582493_8_2018', '776466_10_2018', '444092_3_2017', '585756_2_2018', '278854_4_2018', '972686_7_2017', '309230_2_2018', '992168_5_2018', '336882_10_2018', '536021_11_2018', '417240_9_2017', '278854_7_2017', '585756_9_2018', '700650_9_2017', '732304_10_2018', '361237_3_2017', '304600_9_2017', '193662_4_2018', '965605_12_2017', '361237_10_2018', '972686_1_2017', '968034_3_2017', '988392_11_2017', '528447_4_2017', '653081_9_2017', '444092_10_2017', '736504_11_2017', '181082_1_2018', '279419_12_2017', '971370_1_2018', '547522_4_2018', '601131_7_2018', '114414_2_2018', '876062_3_2018', '615561_12_2018', '896861_4_2017', '278854_9_2018', '181082_11_2017', '886803_10_2018', '417240_6_2017', '486860_8_2018', '869265_9_2017', '981508_8_2018', '417240_4_2017', '499874_5_2017', '126490_7_2017', '193662_5_2018', '470998_11_2018', '992168_12_2018', '897772_10_2018', '402697_7_2018', '106001_4_2018', '434807_5_2018', '255475_3_2017', '684881_7_2017', '351615_9_2018', '684881_5_2018', '585756_3_2018', '972686_1_2018', '682979_9_2018', '417240_11_2018', '309230_5_2018', '455758_1_2018', '654433_11_2017', '615439_1_2018', '927026_2_2018', '255475_9_2018', '684881_5_2017', '896861_5_2018', '114414_9_2018', '512296_7_2018', '684881_8_2017', '897772_4_2018', '927026_1_2017', '869265_10_2018', '361237_11_2018', '342945_5_2017', '200519_7_2018', '869276_7_2018', '215508_7_2018', '825593_5_2018', '295906_11_2018', '130331_6_2018', '511862_10_2017', '511862_9_2018', '874780_12_2018', '927026_3_2017', '101902_3_2018', '336882_9_2018', '417240_5_2018', '304600_11_2017', '615561_7_2017', '573446_9_2017', '958491_2_2018', '971370_2_2017', '684881_4_2017', '988392_2_2018', '208485_11_2017', '101902_6_2017', '411523_6_2017', '304600_12_2017', '896861_5_2017', '295906_6_2017', '361237_6_2017', '368073_5_2017', '992168_10_2018', '684889_3_2017', '411734_1_2017', '255836_7_2017', '988392_8_2017', '896861_1_2018', '512296_9_2017', '336882_3_2018', '971370_7_2018', '193662_2_2017', '951353_4_2018', '684889_2_2018', '869276_5_2017', '585756_11_2018', '402697_11_2018', '825517_3_2017', '642020_9_2018', '255475_12_2018', '357901_12_2018', '974875_11_2017', '573446_1_2018', '654433_3_2018', '819842_8_2018', '417240_8_2018', '593252_8_2018', '295906_3_2017', '582493_7_2018', '323821_5_2017', '573446_2_2017', '434807_5_2017', '198499_6_2018', '411523_7_2018', '309230_1_2017', '328623_12_2017', '499874_3_2018', '499874_3_2017', '750665_11_2018', '876062_2_2018', '361237_3_2018', '470998_7_2018', '255836_8_2018', '604870_12_2017', '357901_6_2018', '920175_5_2017', '902608_4_2017', '464187_1_2018', '368073_7_2017', '713132_3_2018', '727091_11_2018', '897772_6_2017', '876062_8_2017', '971370_7_2017', '732304_8_2018', '979115_2_2018', '464187_3_2017', '215508_4_2017', '351937_10_2018', '106001_3_2018', '323821_7_2018', '968034_7_2018', '512296_8_2017', '702482_6_2018', '361237_7_2018', '278854_10_2018', '528447_11_2018', '444092_1_2018', '206050_2_2017', '444092_2_2018', '897772_4_2017', '617489_4_2017', '351615_10_2017', '890702_10_2017', '989528_4_2018', '309230_6_2018', '750665_7_2017', '920175_1_2018', '775768_11_2017', '278854_12_2017', '464256_12_2017', '601131_9_2018', '890702_4_2018', '727507_5_2018', '825517_8_2017', '106509_8_2018', '896861_10_2017', '243741_11_2018', '684123_12_2017', '974875_10_2017', '464256_3_2018', '971370_4_2018', '876062_8_2018', '615561_10_2018', '101902_12_2018', '775768_1_2017', '460272_12_2017', '604274_12_2018', '255836_10_2017', '528447_8_2017', '351615_7_2017', '700650_3_2017', '286636_10_2017', '255475_10_2018', '890702_8_2018', '295906_1_2018', '278854_12_2018', '971370_10_2017', '464256_11_2018', '969318_6_2017', '237094_6_2017', '684123_8_2

Teniendo en cuenta que la proporción de registros con información inconsistente es de 2072 de más de 400 000 registros (equivale a un 0.5% de los datos), decido prescindir de estos registros porque no me parecen fiables.

Adjunto captura de pantalla en esta carpeta con la información repetida para no ensuciar el jupyter: 'registros_informacion_inconsistente.png'

Por otra parte, debido a que la proporción detectada de datos erróneos solo es del 0.5% y no me va a contaminar excesivamente los datos, sigo adelante con el ejercicio.

In [16]:
df_CFA_limpios = df_CFA_sin_duplicados.copy()

In [18]:
df_CFA_limpios.to_csv('datos_limpios_CFA.csv')